<div class="view {{ item.types[0].type.name }}" *ngFor="let item of pokemonArray">
    <img src="{{ item.sprites.front_default }}" alt="Imagem do Pokémon {{ item.name }}" />

    <div class="inf">
        <div class="col">
            <!-- Exibe a experiência do Pokémon -->
            <th>Experiência: {{ item.base_experience }}</th>

            <!-- Exibe a altura do Pokémon e trata antes de exibir -->
            <th>Altura: {{ (item.height / 10).toFixed(1) }} m</th>

            <!-- Exibe o peso do Pokémon e trata antes de exibir -->
            <th>Peso: {{ (item.weight / 10).toFixed(1) }} kg</th>
        </div>

        <!-- Exibe os tipos do Pokémon -->
        <div class="col">
            <th>Tipo do Pokémon:</th>

            <td *ngFor="let types of item.types">
                {{ types.type.name }}
            </td>
        </div>

        <!-- Exibe os status do Pokémon -->
        <div class="col">
            <th>Status do Pokémon:</th>

            <td *ngFor="let status of item.stats">
                {{ status.stat.name.replaceAll('-', ' ') }}: {{ status.base_stat }}
            </td>
        </div>

        <!-- Exibe as habilidades -->
        <div class="col">
            <th>Habilidades:</th>

            <td *ngFor="let Habilidades of item.abilities">
                {{ Habilidades.ability.name.replaceAll('-', ' ') }}
            </td>
        </div>
    </div>
</div>