<div class="view">
    <div class="inputBox">
        <input type="search" name="search" id="search" [(ngModel)]="search" (search)="listingPoke()" required/>
        <label for="search">Pesquisar...</label>
        <button type="button" (click)="searchPoke()">Pesquisar</button>
    </div>

    <div class="notFound" [ngClass]="{'disabled': searchFound}">
        <p>Pokémon não encontrado...</p>
        <img src="../../../assets/charmander_bad.png" alt="">
    </div>

    <div class="galery" [ngClass]="{'disabled': !searchFound }">
        <div class="box {{ item.types[0].type.name }}" routerLink="view/{{ item.id }}" *ngFor="let item of pokemonArray">
            <img src="{{ item.sprites.front_default }}" alt="Imagem do Pokémon {{ item.name }}" />
            <p class="name">{{ item.name }}</p>
        </div>
    </div>

    <button type="button" class="btn" (click)="moreListingPoke()" [ngClass]="{'disabled': !searchFound}">Carregar Mais!</button>
</div>